body {
    margin: 0;
  }
  .tm-blank-layout {
    background-color: #fff;
    box-sizing: border-box;
    color: #22282d;
    text-rendering: optimizeLegibility;
    font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  p {
    margin: 0;
  }
  a {
    color: #007aff;
    text-decoration: none;
    transition: color 0.3s;
  }
  a:hover {
    color: #22282d;
  }
  .tm-blank-layout .tm-about__article-link {
    word-break: break-word;
    border-bottom: 1px solid #22282d;
    padding-bottom: 2px;
    color: #22282d;
  }

  .tm-blank-layout .tm-about__article-link:hover {
    color: #007aff;
    border-color: #007aff;
  }

  .tm-blank-layout_dark {
    background-color: #303b44;
    color: #F4F5F6;
  }
  .tm-blank-layout_dark a {
    color: #51b3ff;
  }
  .tm-blank-layout_dark a:hover {
    color: #F4F5F6;
  }
  .tm-blank-layout_dark .tm-about__article-link {
    color: #F4F5F6;
    border-bottom: 1px solid #F4F5F6;
    padding-bottom: 2px;
  }
  .tm-blank-layout_dark .tm-about__article-link:hover {
    color: #51b3ff;
    border-color: #51b3ff;
  }
  .tm-blank-layout_dark .tm-about__lang {
    background: #F4F5F6;
    color: #222;
  }
  .tm-blank-layout_dark .tm-about__lang:hover {
    color: #222;
  }
  .tm-blank-layout_dark .tm-about__text_bordered {
    border-color: #51b3ff;
  }

  .tm-about__wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 940px;
    padding: 148px 16px 0;
  }

  .tm-about__lang {
    background: #303b44;
    border: 0;
    color: #F4F5F6;
    cursor: pointer;
    font-size: 17px;
    height: 52px;
    line-height: 52px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    user-select: none;
    width: 52px;
  }

  .tm-about__lang:hover {
    color: #F4F5F6;
  }

  .tm-about__text_type-1 {
    animation: fadein 1s ease 0.3s forwards;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 79px;
    opacity: 0;
  }

  .tm-about__text_type-2 {
    animation: fadein 1s ease 0.5s forwards;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 76px;
    opacity: 0;
  }
  .tm-about__post-title {
    margin-bottom: 17px;
  }

  .tm-about__post {
    margin: 0;
    line-height: 44px;
  }

  .tm-about__posts {
    padding-bottom: 72px;
    padding-top: 4px;
  }

  .tm-about__corporate,
  .tm-about__stats {
    padding-bottom: 60px;
  }

  .tm-about__contacts {
    line-height: 36px;
    padding-bottom: 62px;
  }

  .tm-about__contacts .tm-about__article-link {
    border: 0;
  }

  .tm-about__text_bordered {
    border-bottom: 1px solid #007aff;
    padding-bottom: 2px;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  </style>